<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body text-left">
                <div class="row">
                    <div class="col-md-10">
                        <h2>{{ autor.nomeCompleto }}</h2>
                        <br/> {{ autor.nomeParaCitacao }}
                        <br/> Última Atualização: {{ autor.ultimaAtualizacao }}
                    </div>
                    <div class="col-md-2">
                        <div class="row padding-top">
                            <div class="col-md-4">
                                ÍND. GERAL
                            </div>
                            <div class="col-md-8">
                                <span class="indice-header">{{ autor.indices.indiceGeral | number : 2 }}</span>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-md-4">
                                ÍND. REST.
                            </div>
                            <div class="col-md-8">
                                <span class="indice-header">{{ autor.indices.indiceRestrito | number : 2 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Grupos</h4></div>
            <div class="panel-body">
                PPGC INF UFRGS
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Colaborações</h4></div>
            <div class="panel-body">
                <div class="list-group" ng-repeat="coautor in autor.colaboracoes">
                    <span class="list-group-item-heading">{{ coautor }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Artigos Publicados</h4>
                    </div>
                    <div class="col-md-2">
                        Ind. Geral
                        </br>
                        Índ. Rest.
                    </div>
                    <div class="col-md-2">
                         {{ autor.indices.indiceGeralArtigoPublicado | number : 2 }}
                         </br>
                         {{ autor.indices.indiceRestritoArtigoPublicado | number : 2 }}
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="artigo in autor.publicacoes.artigosPublicados">
                        <div class="row">
                            <div class="col-md-11">
                                <span class="list-group-item-heading titulo-pub-lista">{{ artigo.tituloDoArtigo }}</span>                                ({{ artigo.anoDoArtigo }})
                                <div class="list-group-item-text"><span class="badge coautor-pub" ng-repeat="coautor in artigo.autores">{{ coautor.nomeParaCitacao === '' ? coautor.nomeCompleto : coautor.nomeParaCitacao }}</span></div>
                            </div>
                            <div class="col-md-1">
                                <span class="qualis-pub-lista">{{ artigo.qualis }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Trabalhos em Eventos</h4>
                    </div>
                    <div class="col-md-2">
                        Ind. Geral
                        </br>
                        Índ. Rest.
                    </div>
                    <div class="col-md-2">
                         {{ autor.indices.indiceGeralTrabalhoEmEvento | number : 2 }}
                         </br>
                         {{ autor.indices.indiceRestritoTrabalhoEmEvento | number : 2 }}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="trabalho in autor.publicacoes.trabalhosEmEvento">
                        <div class="row">
                            <div class="col-md-11">
                                <span class="list-group-item-heading titulo-pub-lista">{{ trabalho.tituloDoTrabalho }}</span>                                ({{ trabalho.anoDoTrabalho }})
                                <div class="list-group-item-text"><span class="badge coautor-pub" ng-repeat="coautor in trabalho.autores">{{ coautor.nomeParaCitacao === '' ? coautor.nomeCompleto : coautor.nomeParaCitacao }}</span></div>
                            </div>
                            <div class="col-md-1">
                                <span class="qualis-pub-lista">{{ trabalho.qualis }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>