<div class="jumbotron text-center">
    <h2>Autores</h2>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="fit" scope="col"># CNPQ</th>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="autor in autores">
            <td class="fit" scope="row">
                <a ng-href="autores/{{autor.numeroIdCNPQ}}">
                {{ autor.numeroIdCNPQ }}
                </a>
            </td>
            <td>{{ autor.nomeCompleto }}</td>
        </tr>
    </tbody>
</table>