<div class="jumbotron text-center">
    <h2>Grupos</h2>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="fit" scope="col">ID</th>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="grupo in grupos">
            <td class="fit" scope="row">
                <a ng-href="grupos/{{grupo.uuid}}">
                {{ grupo.uuid }}
                </a>
            </td>
            <td>{{ grupo.nome }}</td>
        </tr>
    </tbody>
</table>