<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body text-left">
                <div class="row">
                    <div class="col-md-10">
                        <h2>{{ grupo.nome }}</h2>
                    </div>
                    <div class="col-md-2">
                        <div class="row padding-top">
                            <div class="col-md-4">
                                ÍND. GERAL
                            </div>
                            <div class="col-md-8">
                                <span class="indice-header">{{ grupo.indices.indiceGeral | number : 2 }}</span>
                            </div>
                        </div>
                        <div class="row padding-top">
                            <div class="col-md-4">
                                ÍND. REST.
                            </div>
                            <div class="col-md-8">
                                <span class="indice-header">{{ grupo.indices.indiceRestrito | number : 2 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="fit" scope="col"># CNPQ</th>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="autor in membrosDetalhados">
            <td class="fit" scope="row">
                <a ng-href="autores/{{autor.numeroIdCNPQ}}">
                {{ autor.numeroIdCNPQ }}
                </a>
            </td>
            <td>{{ autor.nomeCompleto }}</td>
        </tr>
    </tbody>
</table>