<div class="jumbotron text-center">
    <h2>Upload de Currículo XML</h2>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Insira o conteúdo do arquivo .xml</h4>
    </div>
    <div class="panel-body">
        <form ng-submit="enviarCurriculo()">
            <textarea name="curriculo" cols="177" rows="20" ng-model="formData.conteudoXml">
                
            </textarea>
            <button type="submit" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-flash"></span> Enviar!
            </button>
        </form>
    </div>
</div>
