.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.titulo-pub-lista {
    font-size: medium;
    font-weight: bold;
}

.qualis-pub-lista {
    font-size: large;
    font-weight: bold;
}

.indice-header {
    font-size: x-large;
    font-weight: bold;
}

.padding-top {
    padding-top: 20px;
}

.coautor-pub {
    font-size: smaller;
}